.header-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-icon{
  margin-left:34px;
}

.nav-bar{
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
.nav-bar >ul{
  display: flex;
  justify-content: space-between;
}

.nav-bar>ul>li{
  list-style-type: none;
  padding : 0px 72px 0px 8px;
  font-size: 18px;
  font-weight: bold;
}

.nav-bar>ul>li:hover{
  color: #ffa700;
  font-weight: bolder;
  cursor: pointer;
}

.login-btn{
  border: 1px solid #c8c8c8;
  height: 48px;
  width: 200px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  background-color: #ffa700;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 16px;
  color: #fff;
}

.login-btn:hover{
  color: black;
  background-color: orange;
  cursor: pointer;
}

.food-icon{
  width: 238px;
  height: 176px;
}

.new-text{
  color: #ffa700;
}

.link{
  font-weight: 800;
  font-size: 22px;
  text-decoration: none;
  color:black;
  list-style-type: none;
  padding: 0px 56px 0 4px;
}

.link:hover{
  color: #ffa700;
}
