.carousel-wrapper{
    display: flex;
    padding: 16px 48px;
}

.image-list{
  width: 140px;
}

.carousel-header{
    font-size: 28px;
    font-weight: 700;
    margin-left: 18px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}